<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.medapp1"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ro.medapp1.MedListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ro.medapp1.MedDetailActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_med_detail"
            android:parentActivityName=".MedListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MedListActivity" />
        </activity>
        <activity
            android:name="ro.medapp1.Settings"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_settings" >
        </activity>
         <activity
            android:name="ro.medapp1.MedSetActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="ro.medapp1.MedSettings"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_med_settings" >
        </activity>
        <activity
            android:name="ro.medapp1.Alarm"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_alarm" >
        </activity>
        <receiver android:name="ro.medapp1.Alarm" android:process=":remote" />
    </application>

</manifest>
